@import "tailwindcss";


/* Fundo e texto fixos */
:root {
  --background: #ffffff !important; /* força fundo branco */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* REMOVE o modo escuro automático */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff !important; /* ainda branco mesmo no dark */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
